<div class="flex justify-between mb-6">
  <div class="flex gap-3">
    <img src="ico/store-Regular.png" alt="Store Icon" />
    <div class="flex-auto">
      <p class="text-3xl font-bold">Productos</p>
      <p class="text-sm">Aquí puedes ver tus productos</p>
    </div>
  </div>

  <div>
    <p-button (click)="showDialog()" label="Agregar producto" />
    <p-dialog  [modal]="true" [(visible)]="visible" >
        <app-form-products [editproduct]="editProduct" ></app-form-products>
    </p-dialog>
  </div>
</div>


<p-toast />


<p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Categoría</th>
      <th>Stock Actual</th>
      <th>Estado</th>
      <th>Mas acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td class="w-1/5">{{ product.name }}</td>
      <td>
        <img [src]="product.urlImage" [alt]="product.name" class="w-24 rounded" />
      </td>
      <td >{{ product.price | currency: 'USD' }}</td>
      <td>{{ product.category.name }}</td>
      <td>{{ product.stockCurrent }}</td>
      <td>
        <p-tag
          [value]="product.stockCurrent > 0 ? 'Disponible' : 'Agotado'"
          [severity]="product.stockCurrent > 0 ? 'success' : 'danger'"
        />
      </td>
     <td>
      <p-button
        class="px-2"
        icon="pi pi-pencil"
        [rounded]="true"
        (onClick)="handleClick( product.name)"
      />

      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        severity="danger"
        (onClick)="onDelete( product.id )"/>

    </td>



    </tr>
  </ng-template>
</p-table>
