<form [formGroup]="formProduct"  autocomplete="off" (ngSubmit)="onSave()">

<div class="flex justify-between mb-6">

  <div class="flex gap-3 ">
    <img src="ico/store-Regular.png" alt="">
     <div class="flex-auto">
      <p class="text-3xl font-bold">Productos</p>
      <p class="text-sm">Aqui puedes crear tus productos</p>
    </div>
  </div>

  <div class="flex items-center">
    <p-button type="ngSubmit" label="Agregar" />
  </div>

</div>

  <div class="flex flex-row flex-wrap gap-4">

    <div class="flex-auto">
      <label for="block" class="block mb-1 font-semibold"> Nombre</label>
      <input
        placeholder="Ingrese nombre del producto"
        pInputText
        formControlName="name"
        class="w-full bg-gray-200 " />
        <span *ngIf="isValidField('name')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('name') }}
        </span>
    </div>

    <div class="flex-auto">
      <label for="block" class="block mb-1 font-semibold">Precio</label>
      <input
        type="number"
        placeholder="Ingrese precio del producto"
        pInputText
        formControlName="price"
        class="w-full bg-gray-200" />
        <span *ngIf="isValidField('price')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('price') }}
        </span>
    </div>

  </div>

  <div class="flex-auto mt-4">
      <label for="block" class="block mb-1 font-semibold">Imagen</label>
      <input
      placeholder="Ingrese url de la imagen"
        pInputText
        formControlName="urlImage"
        class="w-full bg-gray-200" />
      <span *ngIf="isValidField('urlImage')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('urlImage') }}
      </span>
  </div>

  <div class="flex flex-row flex-wrap gap-4 mt-4">

    <div class="flex-auto">
      <label for="block" class="block mb-1 font-semibold">Codigo de barra</label>
      <input
        placeholder="Ingrese codigo del producto"
        pInputText
        formControlName="barcode"
        class="w-full bg-gray-200" />
      <span *ngIf="isValidField('barcode')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('barcode') }}
        </span>
    </div>

    <div class="flex-auto">
      <label for="block" class="block mb-1 font-semibold">Stock minimo</label>
      <input
        type="number"
        placeholder="Ingrese el stock minimo"
        pInputText
        formControlName="stockMinimun"
        class="w-full bg-gray-200" />
      <span *ngIf="isValidField('stockMinimun')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('stockMinimun') }}
      </span>
    </div>

    <div class="flex-auto">
      <label for="block" class="block mb-1 font-semibold">Stock actual</label>
      <input
        type="number"
        placeholder="Ingrese stock actual"
        pInputText
        formControlName="stockCurrent"
        class="w-full bg-gray-200" />
      <span *ngIf="isValidField('stockCurrent')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('stockCurrent') }}
      </span>
    </div>

    <div class="flex-auto">
      <label for="selectedCategory" class="block mb-1 font-semibold">Categoría</label>
      <p-select
        [options]="category"
        optionLabel="name"
        optionValue="id"
        formControlName="categoryId"
        placeholder="Seleccione una categoría"
        class="w-full bg-gray-200">
      <span *ngIf="isValidField('categoryId')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('categoryId') }}
      </span>
      </p-select>
    </div>
  </div>



  <div class="flex-auto mt-4">
    <label for="block" class="block mb-1 font-semibold">Descripcion</label>
    <textarea
      placeholder="Ingrese una descripcion del producto"
      rows="5"
      cols="30"
      formControlName="description"
      pTextarea
      class="w-full bg-gray-200"></textarea>
    <span *ngIf="isValidField('description')" class="text-xs text-red-700 pl-2">
          {{ getFieldError('description') }}
      </span>
  </div>

</form>
